langchain>=0.0.300
chromadb>=0.4.0
huggingface-hub>=0.14.0
transformers>=4.30.0
sentence-transformers>=2.2.2
tqdm
pypdf
groq
python-dotenv
langchain-huggingface
langchain-community
langchain-core
langchain-chroma
rouge-score
nltk
bert-score

streamlit>=1.26.0
requests
